datasets
gensim
matplotlib
seaborn
tqdm
tensorboard
bitsandbytes
accelerate
transformers
vectordb2
peft
lightning
unsloth
ffmpeg-python
openai-whisper
torchaudio
ipywebrtc
torch
nltk
papaparse
sheetjs
mathjs
lodash